.header {
  &__wrapper {
    width: 100%;
    border-bottom: 1px solid #dddddd;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__greeting {
    width: 80%;
    text-align: center;
  }

  &__karma {
    width: 20%;
    min-width: 100px;
    text-align: center;
  }
}
