@import "../../style/colors";

.menu {
  &__wrapper {
    width: 100%;
    padding: 0;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    background-color: $primary;
    color: white;
  }

  &__nav-link {
    padding: 1rem;
    color: white;
    text-decoration: none;

    &:visited {
      text-decoration: none;
    }

    &:hover {
      background-color: $secondary;
      color: white;
    }

    &_active {
      color: $primary;
      background-color: white;
    }
  }
}
