@import "../../../style/colors";

.todo {
  &__wrapper {
    width: 50%;
    min-width: 300px;
  }

  &__header {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    background-color: $primary;
    color: white;
  }

  &__subtasks {
    border: 1px solid #dddddd;
    border-top: 0;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
